{% extends "nav.html" %}

{% block title %}Sponge - Submissions{% endblock %}

{% block content %}

  <div id="guidelines-panel" class="panel-outer">
    <p class="panel-heading">
      Submission Guidelines
    </p>
    <div class="panel-inner">
      <div class="panel-content">
        {{ guidelines.general| safe }}
        <p class="sub-heading">Submissions</p>
            {{ guidelines.submissions| safe }}
  		  <p class="sub-heading">Formatting</p>
  		  {{ guidelines.formatting| safe }}
	      <p class="sub-heading">Content</p>
        {{ guidelines.content| safe }}
        <p class="sub-heading">Submission Area</p>
        <img class="map" src="{{ static('images/map.jpg') }}"/>
        <p class="sub-heading">Contact</p>
	      {{ guidelines.contact| safe }}
      </div>
    </div>
  </div>
  <div id="contents-actions-container">
    <div id="submissions-container" class="panel-outer contents-panel">
      <div class="panel-inner">
        <div class="panel-content" style="top:0px">

          {% if submission_successful %}
            <p>Submission successful. Thank you.</p>
          {% endif %}
          <form enctype="multipart/form-data" action="{{ url('submissions') }}"
                method="post" id="submissions-form">
            {{ csrf_input }}
            <div class="submission-form-fields">
              {% for field in submission_form %}
                <div class="form-part">
                  <label>{{ field.label }}
                    {{ field }}</label>
                </div>
              {% endfor %}
            </div>
            <div class="submitter-form-fields">
              {% for field in submitter_form %}
                <div class="form-part">
                  <label>{{ field.label }}
                    {{ field }}</label>
                </div>
              {% endfor %}
            </div>
            <input
              {% if not TAKING_SUBMISSIONS %}disabled {% endif %}
              type="submit"
              name="story_submission"
              value="{% if not TAKING_SUBMISSIONS %}SUBMISSIONS CURRENTLY CLOSED{% else %}SUBMIT{% endif %}"
              class="submit button {% if not TAKING_SUBMISSIONS %}submissions-closed{% endif %}"
            />
          </form>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
