#issues-panel
  width: 17rem
  height: 25rem
  background-color: $panel-color

  display: inline-block
  position: relative
  margin-top: 5rem

.issue-list-wrapper
  text-align: center
  li
    padding-top: 1em
    font-size: 1.2em
