@media screen and (min-width: 1081px)
  // Give enough space to scroll through
  #content-block.landing
    min-height: 90rem

  #about-panel
    width: $about-panel-width
    margin-right: 1vw

  #current-panel
    width: 33vw
    height: auto
    background-color: $panel-color

    display: inline-block
    position: fixed
    margin: 5rem 1vw 0 1vw
    left: 32vw
    text-align: center

    #current-cover
      display: inline-block
      margin: auto 1rem 1rem 1rem
      width: calc(33vw - 2rem)
      height: 40rem
      background-color: red

    &:hover
      z-index: 5

    &.fix
      position: absolute
      top: 550px
      z-index: 3

  #latest-instagram-panel
    top: 10rem

    width: 31vw
    padding: 1vw 1vw 0 1vw
    right: 0

    display: inline-block
    position: absolute
    background-color: #3f1ca2

    // Hide it behind the nav on scrolldown
    z-index: 1

    &.fix
      position: fixed
      top: -1.5rem
    .sponge
      width: 20rem
