@media screen and (min-width: 1081px)
  // Give enough space to scroll through
  #content-block.landing
    min-height: 85rem

  #about-panel
    width: $about-panel-width
    margin-right: 1vw

  #current-panel
    width: 22rem
    height: auto
    background-color: $panel-color

    display: inline-block
    position: fixed
    margin: 5rem 6vw 0 6vw
    left: 33vw
    text-align: center

    #current-cover
      display: inline-block
      margin: auto 1rem 1rem 1rem
      width: 20rem
      height: 29rem
      background-color: red

    &:hover
      z-index: 5

    &.fix
      position: absolute
      top: 550px
      z-index: 3

  #large-logo-panel
    top: 12rem

    width: 31vw
    margin: 0 1vw
    height: 12rem
    right: 0

    display: inline-block
    position: absolute
    text-align: center
    background-color: transparent

    // Hide it behind the nav on scrolldown
    z-index: 1

    &.fix
      position: fixed
      top: -1.5rem
    .sponge
      width: 20rem
