
#current-panel
  width: 20rem
  height: 35rem
  background-color: $panel-color

  display: inline-block
  position: absolute
  margin-top: 5rem
  right: 0
  text-align: center

  #current-cover
    margin: auto 1rem 1rem 1rem
    height: 28rem
    width: 18rem
    background-color: red

  &:hover
    z-index: 5