
//#navlink-list
//  box-sizing: border-box
//  padding-left: 0em
//
//.navlink-item
//  line-height: 2.5em
//  font-size: 1.25em
//  border-left: solid 1px black
//  padding-left: 1.5em
//
//// Placeholder vertical alignment of headings for my sanity
//#nav-heading
//  padding-top: 15px
#nav-block
  height: 3em
  border: 1px dashed red
  #navlink-wrapper
    .navlink-item
      display: inline-block
      margin: 0 2em