#nav-block
  position: fixed
  display: inline-block
  margin-top: 5rem
  height: 6rem
  min-width: 20rem
  width: 100vw
  background-color: $panel-color
  text-align: right

  z-index: 2  // so that logo can slide underneath

  #navlink-wrapper
    position: relative
    top: 50%
    transform: translateY(-50%)
    text-align: right
    margin: 0 4.5vw
    display: inline-block
    line-height: 1rem
    width: 50vw

    &.landing

      width: 31vw
      margin: 0 1vw
      text-align: center

    .navlink-item
      display: inline
      padding: 0 1vw
      color: white
      font-size: 2rem
      text-decoration: none
      &.hidden
        display: none
