
.story-panel
  width: 50rem

.contents-panel
  position: fixed
  top: 0
  right: 4rem
  z-index: 0

.story-paragraph
  margin: 1rem
  &:first-child
    padding-top: 1rem
  &:last-child
    padding-bottom: 1rem
