
#story-panel
  max-width: 50rem
  width: 67vw
  
  .inner-content
    position: relative
    top: -10rem


.story-paragraph
  text-align: left
  margin: 0 4rem
  &:first-child
    padding-top: 1rem
  &:last-child
    padding-bottom: 1rem

.issue-heading
  font-size: 25px
  padding-left: 1rem