{% extends "nav.html" %}

{% block content %}

  <div id="contents-actions-container">
    <div class="panel-outer contents-panel">
      <div class="panel-inner">
        <div style="top:0px" class="panel-content">
          {% if issue.introduction %}
            <p>{{ issue.introduction }}</p>
          {% endif %}
          <ul class="contents-list">
            {% for story in stories %}
              <li>
                  <a href="{{ story.get_absolute_url() }}"><div class="story-title">
                    <i>{{ story }}</i>
                  </div>
                  <div class="story-author">
                    {{ story.author }}
                  </div></a>
              </li>
            {% endfor %}
          </ul>

          <div class="download-btn-wrapper">
            {#  Only make download buttons active if there are files to download  #}
            {%- if issue.pdf %}
              {#-  -#}
              <a href="{{ url('download_issue', issue.number, 'pdf') }}"
              ><div class="download edge pdf nodrag"><span class="button-text">PDF</span></div></a>
              {#-  -#}
            {% else -%}
              <div class="download edge greyedout nodrag"><span class="button-text">PDF</span></div>
              {#-  -#}
            {% endif -%}
            {% if issue.mobi %}
              {#-  -#}
              <a href="{{ url('download_issue', issue.number, 'mobi') }}"
              ><div class="download centre mobi nodrag"><span class="button-text">MOBI</span></div></a>
              {#-  -#}
            {% else -%}
              <div class="download centre greyedout nodrag"><span class="button-text">MOBI</span></div>
              {#-  -#}
            {% endif -%}
            {%- if issue.epub %}{#-  -#}
              <a href="{{ url('download_issue', issue.number, 'epub') }}"
              ><div class="download edge epub nodrag"><span class="button-text">EPUB</span></div></a>
              {#-  -#}
            {% else -%}
              <div class="download edge greyedout nodrag"><span class="button-text">EPUB</span></div>
              {#-  -#}
            {% endif -%}
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="cover-panel">
    <p class="panel-heading">{{ issue.pretty_name }}</p>
    {% if issue.cover_image %}
      <img id="issue-cover" src="{{ issue.cover_image.url }}"/>
    {% else %}
      <div id="issue-cover"></div>
    {% endif %}
  </div>

{% endblock %}
