{% extends "nav.html" %}
{% from "_common.html" import thumbnail %}

{% block title %}Sponge - {{ issue.pretty_name }}{% endblock %}

{% block content %}

  <div id="contents-actions-container" style="position:absolute">
    <div>
        <div class="panel-outer">
          <div class="panel-inner">
            <div style="top:0px" class="panel-content">
              <ul class="contents-list">
                {% for story in stories %}
                  <li>
                      <a href="{{ story.get_absolute_url() }}">
                          <div class="story-title">
                            <i>{{ story }}</i>
                          </div>
                      </a>
                      {% if story.author.url %}
                      <a href="{{story.author.url}}">
                          <div class="story-author">
                            {{ story.author }}
                          </div>
                      </a>
                      {% else %}
                        <div class="story-author">
                            {{ story.author }}
                        </div>
                      {% endif %}
                  </li>
                {% endfor %}
              </ul>

              <div class="download-btn-wrapper">
                {#  Only make download buttons active if there are files to download  #}
                {%- if issue.pdf %}
                  {#-  -#}
                  <a href="{{ url('download_issue', issue.number, 'pdf') }}"
                  ><div class="download edge pdf nodrag"><span class="button-text">PDF</span></div></a>
                  {#-  -#}
                {% else -%}
                  <div class="download edge greyedout nodrag"><span class="button-text">PDF</span></div>
                  {#-  -#}
                {% endif -%}
                {% if issue.mobi %}
                  {#-  -#}
                  <a href="{{ url('download_issue', issue.number, 'mobi') }}"
                  ><div class="download centre mobi nodrag"><span class="button-text">MOBI</span></div></a>
                  {#-  -#}
                {% else -%}
                  <div class="download centre greyedout nodrag"><span class="button-text">MOBI</span></div>
                  {#-  -#}
                {% endif -%}
                {%- if issue.epub %}{#-  -#}
                  <a href="{{ url('download_issue', issue.number, 'epub') }}"
                  ><div class="download edge epub nodrag"><span class="button-text">EPUB</span></div></a>
                  {#-  -#}
                {% else -%}
                  <div class="download edge greyedout nodrag"><span class="button-text">EPUB</span></div>
                  {#-  -#}
                {% endif -%}
                </div>
            </div>
          </div>

        </div>
     {% if issue.bandcamp_album_id %}
            <div id="audio-player">
                <iframe style="border: 0; width: 100%; height: 200px" src="https://bandcamp.com/EmbeddedPlayer/album={{issue.bandcamp_album_id}}}}/size=large/bgcol=ffffff/linkcol=3f1ca2/artwork=small/transparent=true/" seamless><a href="{{issue.bandcamp_album_url}}}}">Sponge: {{issue.pretty_name}}</a></iframe>
            </div>
        {% endif %}
    </div>
  </div>

  <div class="cover-panel" onmouseover="showCoverInfo()" onmouseout="hideCoverInfo()"  >
    <p class="panel-heading">{{ issue.pretty_name }}</p>

    {% if cover %}
      <div id="cover-info">
        <p id="cover-title">{{cover.title}}</p>
        <p id="cover-artist">{{cover.artist}}</p>
        <p><a target="_blank" href="mailto:{{ cover.artist_url }}">{{ cover.artist_url }}</a></p>
      </div>

      {% if cover.cover_image %}
        <div id="issue-cover">{{ thumbnail(cover.cover_image, "320x464") }}</div>
      {% endif %}

    {% else %}
      <div id="issue-cover" class="no-image"></div>
    {% endif %}
  </div>

{% endblock %}

{% block script %}
    <script>

        function showCoverInfo(){
            $("#cover-info").css("display","inline-block");

        }

        function hideCoverInfo(){
            $("#cover-info").css("display", "none");

        }
    </script>
{% endblock %}
