{% extends "nav.html" %}

{% block title %}Sponge - {{ story.title }}{% endblock %}

{% block content %}

  <div id="story-panel" class="panel-outer">
    <p class="panel-heading-title">{{ story.title.upper() }}</p>
    <p class="panel-heading-author"><a target="_blank" href="{{ story.author.url }}">{{ story.author }}</a></p>
       <div>
           <div class="mobile-audio-player" id="mobile">
                <iframe style="border: 0; width: 100%; height: 42px" src="https://bandcamp.com/EmbeddedPlayer/album={{issue.bandcamp_album_id}}/size=small/bgcol=ffffff/linkcol=0687f5/track={{story.bandcamp_track_id}}/transparent=true/" seamless><a href="{{issue.bandcamp_album_url}}">Sponge: {{issue.pretty_name}}</a></iframe>
            </div>
            <div class="panel-inner">
              <div class="panel-content">
                {{ story.content | safe }}
              </div>
            </div>
       </div>
  </div>
  <div id="contents-actions-container">
     {% if story.bandcamp_track_id %}
            {% set height_of_bandcamp_plugin = [142] %}
                {% for story in stories_in_issue %}
                    {% if story.bandcamp_track_id %}
                        {% if height_of_bandcamp_plugin.append(height_of_bandcamp_plugin.pop() + 33) %}
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% set height_of_bandcamp_plugin = height_of_bandcamp_plugin.pop()| string + 'px' %}
            <div style="height:calc({{height_of_bandcamp_plugin}} + 1rem + 4px)" class="tab">
              <button class="active" id="contents-tab" onclick="openTab('contents')"><img class="tab-icon" src="{{static('images/content_icon.png')}}"/></button>
              <button class="inactive" id="audio-tab" onclick="openTab('audio')"><img class="tab-icon" src="{{static('images/player_icon.png')}}"/></button>
            </div>
            <div class="audio-player" id="desktop">
                  <iframe style="border: 0; width: 100%; height: {{height_of_bandcamp_plugin}}" src="https://bandcamp.com/EmbeddedPlayer/album={{issue.bandcamp_album_id}}}}/size=large/bgcol=ffffff/linkcol=3f1ca2/artwork=small/track={{story.bandcamp_track_id}}/transparent=true/" seamless><a href="{{issue.bandcamp_album_url}}}}">Sponge: {{issue.pretty_name}}</a></iframe>
            </div>
     {% endif %}
      <div class="panel-outer contents-panel">
        <div class="panel-inner">
          <div style="top:0px" class="panel-content">
            <p style="padding: 1rem 1rem 0 1rem" class="issue-heading">{{issue.pretty_name}}</p>
            <ol>
              {% for iterated_story in stories_in_issue %}
                <li class="{% if iterated_story == story %}current-story{% endif %}">
                  <a href="{{ iterated_story.get_absolute_url() }}">
                      <div class="story-title">
                        <i>{{ iterated_story }}</i>
                      </div>
                  </a>
                  {% if iterated_story.author.url %}
                  <a target="_blank" href="{{ iterated_story.author.url }}">
                      <div class="story-author">
                        {{ iterated_story.author }}
                      </div>
                  </a>
                  {% else %}
                      <div class="story-author">
                        {{ iterated_story.author }}
                      </div>
                  {% endif %}
                </li>
              {% endfor %}
            </ol>
          </div>
        </div>
      </div>
  </div>

{% endblock %}
