{% extends "django/base.html" %}

{% block content %}
    <div id="editor-view-container">
        <h2>Editor View</h2>

        <h3>Outstanding Submissions</h3>

        <ul id="submissions-list">
            {% for submission in submissions %}
                <li
                    class="submission-row"
                ><div
                    class="submission-title"
                >{{ submission.title }}</div><div
                    class="submission-author"
                >{{ submission.author }}</div></li>
            {% endfor %}
        </ul>
    </div>
{% endblock %}
