<!doctype html>

<head>
  {% macro get_page_title() -%}
    {% block title %}{% endblock %}
  {%- endmacro %}

  {% macro title() %}
    {% set page_title = get_page_title() %}
    {{ page_title }}
  {% endmacro %}

  {% macro description() %}
    {% block description %}
    {% endblock %}
  {% endmacro %}

  {% block meta %}
    <meta property="og:type" content="website">

    <title>{{ title() }}</title>
    <meta property="og:title" content="{{ title() }}">

    <meta name="description" content="{{ description() }}">
    <meta property="og:description" content="{{ description() }}">

    <meta name="keywords"
          content="">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% endblock %}

  {% stylesheet "site" %}

</head>

<body>

<script src="https://code.jquery.com/jquery-3.1.0.slim.js"
        integrity="sha256-L6ppAjL6jgtRmfiuigeEE5AwNI2pH/X9IBbPyanJeZw="
        crossorigin="anonymous"></script>

<div id="site">
  <div id="site-container" >
    <div class="logo-wrapper"><img class="logo" src="{{ static('images/logo.png') }}"/></div>
    <div id="nav-block">
      {% block header %}{% endblock %}
    </div>
    <div id="content-block">
      {% block content %}{% endblock %}
    </div>

    {% block logo %}

    {% endblock %}

    {% block footer %}
      <footer id="footer"><span id="signature">
        L-J. E. Walsh (Concept) and I. Ignatov (Development), 2017
      </span></footer>
    {% endblock %}
  </div>
</div>

{% javascript "app" %}

</body>
