{% extends "nav.html" %}

{% block content %}

  <div id="about-panel" class="panel-outer">

    <p class="panel-heading">About</p>
    <div class="panel-inner">
      <div class="panel-content">
        <p>
          Sponge is an online magazine for science fiction and speculative fiction, based in the post-apocalpytic city
          of Christchurch, New Zealand. We publish short stories, poetry, and reviews of science fiction from New
          Zealand and Pacific writers, with a particular focus on new and emerging writers.
        </p>
        <p>
          The magazine will soon be available to read online or to download as a pdf, mobi, or epub. We also plan to make an audio version of our magazine so if you are accepted to Sponge we will ask you to record a reading of your story. These will later be available for free on <a href="https://bandcamp.com">Band Camp</a>.
        </p>
        <p>
          <b>Sponge is currently open for submissions!</b><br/>
        </p>
        <p>
          We are looking for weird and wonderful stories for our first issue, and artwork for the cover.
        </p>
        <p>
          Please submit your stories, poetry, or reviews through the submissions page on the website. Information
          about manuscript formating and other submission guidelines can be found on this page.
        </p>
		<p>If you have any questions please contact <a href="mailto:editor@sponge.nz">editor@sponge.nz</a></p>
		
        <p>Special thanks to Ivan Ignatov for designing and building this website and to Ben Uffindell for coming up with
          the name.</p>
      </div>
    </div>
  </div>

  <div id="current-panel">

    <p class="panel-heading">Current Issue</p>

    {% if current_issue.cover_image %}
      <a href="{{ url('current') }}"><img id="current-cover" src="{{ current_issue.cover_image.url }}"/></a>
    {% else %}
      <div id="current-cover"></div>
    {% endif %}
  </div>

  <div id="logo-panel">    
    <img class="sponge" src="{{static('images/sponge.png')}}"/>    
  </div>

{% endblock %}
