{% extends "nav.html" %}
{% from "_common.html" import thumbnail %}

{% block title %}Sponge{% endblock %}

{% block content %}

  <div id="about-panel" class="panel-outer">

    <p class="panel-heading">About</p>
    <div class="panel-inner">
      <div class="panel-content">
          {% if about.contents %}
            {{about.contents| safe}}
          {% endif %}
      </div>
    </div>
  </div>

  <div id="current-panel">

    <p class="panel-heading">Current Issue</p>

   {% if cover %}
      <a href="{{ url('current') }}"><div id="current-cover">{{ thumbnail(cover.cover_image, "320x464") }}</div></a>

    {% else %}
      <div id="current-cover"></div>
    {% endif %}
  </div>

  <div id="large-logo-panel">
    <img class="sponge" src="{{static('images/sponge.png')}}"/>
  </div>

{% endblock %}
