{% extends "nav.html" %}

{% block logo %}
  <div id="logo-panel">
    <div id="logo">
      <h2 class="temp-text big">SPONGE</h2>
    </div>
  </div>
{% endblock %}

{% block content %}

  <div id="about-panel" class="panel-outer">
    <p class="panel-heading">ABOUT</p>
    <div class="panel-inner">
      <div class="panel-content">
        <p>
          Proin non lectus ornare, fringilla tellus eu, sollicitudin orci. Etiam lobortis quam ac ex dictum, vitae
          maximus enim lobortis. Cras ut purus luctus nisl maximus finibus. Ut pharetra fermentum sapien, elementum
          volutpat quam faucibus non. Donec at erat sit amet mi dapibus tempus. Cras tempor dui sed ligula hendrerit
          mollis. Ut semper purus et nisl varius, nec vehicula odio condimentum. Quisque a sodales elit. Suspendisse nec
          purus a sapien lobortis finibus.
        </p>
        <p>
          Mauris lobortis lorem dui, sit amet tempor odio pharetra a. Duis ultrices hendrerit arcu quis molestie. Ut
          vitae neque maximus, fringilla metus a, pellentesque magna. Nunc in lacus eu ex finibus dapibus in et dui.
          Quisque posuere ante eu velit sagittis, a volutpat mi tincidunt. Nulla eu venenatis nibh. Duis suscipit
          viverra lobortis. Nam non blandit dui, ut tincidunt enim. Cras eu mauris ut tortor porttitor pulvinar. Nullam
          imperdiet eget massa id laoreet. Nunc vehicula molestie tellus eu fringilla. Nullam vestibulum sit amet orci
          at auctor.
        </p>
        <p>
          Proin non lectus ornare, fringilla tellus eu, sollicitudin orci. Etiam lobortis quam ac ex dictum, vitae
          maximus enim lobortis. Cras ut purus luctus nisl maximus finibus. Ut pharetra fermentum sapien, elementum
          volutpat quam faucibus non. Donec at erat sit amet mi dapibus tempus. Cras tempor dui sed ligula hendrerit
          mollis. Ut semper purus et nisl varius, nec vehicula odio condimentum. Quisque a sodales elit. Suspendisse nec
          purus a sapien lobortis finibus.
        </p>
        <p>
          Proin non lectus ornare, fringilla tellus eu, sollicitudin orci. Etiam lobortis quam ac ex dictum, vitae
          maximus enim lobortis. Cras ut purus luctus nisl maximus finibus. Ut pharetra fermentum sapien, elementum
          volutpat quam faucibus non. Donec at erat sit amet mi dapibus tempus. Cras tempor dui sed ligula hendrerit
          mollis. Ut semper purus et nisl varius, nec vehicula odio condimentum. Quisque a sodales elit. Suspendisse nec
          purus a sapien lobortis finibus.
        </p>
      </div>
    </div>
  </div>

  <div id="current-panel">
    {% if current_issue %}
      <a href="{{ url('current') }}"><p class="panel-heading">CURRENT ISSUE</p></a>
    {% else %}
      <p class="panel-heading">CURRENT ISSUE</p>
    {% endif %}
    {% if current_issue.cover_image %}
      <img id="current-cover" src="{{ current_issue.cover_image.url }}"/>
    {% else %}
      <div id="current-cover"/>
    {% endif %}
    </a>
  </div>


{% endblock %}