{% extends "base.html" %}

{% block header %}
  {#    {% if single_issue %}#}
  {#        <img class="logo" src="{{ static('images/logo.png') }}"/>#}
  {#    {% endif %}#}
  <a href="#" class="menu-button" id="menuButton">
    <span class="burger-icon"></span>
  </a>
  <div id="navlink-wrapper" {% if landing_page %}class="landing"{% endif %}>

    <p id="home-link" class="navlink-item {% if landing_page %}hidden{% endif %}">
      <a class="navlink" href="{{ url('landing_page') }}">Home</a>
    </p>

    <p class="navlink-item">
      <a class="navlink" href="{{ url('archive') }}">Archive</a>
    </p>
    <p class="navlink-item">
      <a class="navlink" href="{{ url('submissions') }}">Submissions</a>
    </p>

  </div>

  <div id="mobileMenu">
    <ul class="mobile-link-list unformatted">
      {% if not landing_page %}
      <li class="mobile-link"><a href="{{ url('landing_page') }}">Home</a></li>
      {% endif %}
      <li class="mobile-link"><a href="{{ url('archive') }}">Archive</a></li>
      <li class="mobile-link"><a href="{{ url('submissions') }}">Submissions</a></li>
      <li class="mobile-link"><a href="{{ url('current') }}">Current Issue</a></li>
    </ul>
  </div>

{% endblock %}
