// Get rid of bullet points
ul
  list-style: none
  line-height: 1.5em

// Disable default link styling
a
  text-decoration: none
  color: inherit

a:hover
  color: #85aadd

// Remove margin on headings so they can be positioned predictably
h1, h3
  margin: 0

// Placeholder vertical alignment of headings for my sanity
.section-heading
  padding-top: 25px
  padding-bottom: 5px
