@import "constants"

#content-block
  min-height: 150vh
  z-index: 2

ul
  list-style-type: decimal

// Get rid of bullet points on certain lists
ul.unformatted
  list-style: none
  line-height: 1.5em
  padding: 0

.bold
  font-weight: 700

.story-title
  padding: 1rem 1rem 0
  font-size: 18px

.story-author
  padding: 0 0 0 1rem
  font-size: 15px

// Link styling
a
  color: inherit

a:hover
  color: #e62400
  cursor: pointer

#logo-link, .navlink
  text-decoration: none

// Remove margin on headings so they can be positioned predictably
h1, h3
  margin: 0

// Placeholder vertical alignment of headings for my sanity
.section-heading
  padding-top: 25px
  padding-bottom: 5px

// Disable margin on paragraph
p
  margin: 0

// Don't display mobile menu by default
#mobileMenu
  display: none

.panel-outer
  // higher than nav's default z-index
  z-index: 4
  min-width: 22.5rem
  width: 33vw
  //height: 100%
  background-color: $panel-color
  display: inline-block
  position: relative
  margin-top: 5rem
  text-align: center

  &:hover
    z-index: 10

  .panel-inner
    margin: 1rem
    width: calc(100% - 2rem)
    background-color: $panel-inner-color
    position: relative
    text-align: left

    .panel-content
      position: relative
      padding: 1rem
      line-height: 1.5em

      p
        padding: 1rem

.panel-heading
  margin: 1.87rem 0 1.98rem 0
  color: white
  font-size: 2rem

.panel-heading-title
  margin: 1.85rem 0 0 0
  color: white
  font-size: 2rem
  font-family: vanadine

.panel-heading-author
  color: white
  font-size: 1rem
  font-family: vanadine


#contents-actions-container
  // same as panel
  min-width: 22.5rem
  width: 33vw
  background-color: $panel-color
  display: inline-block
  margin-top: 5rem
  text-align: center

  position: fixed
  right: 4vw
  z-index: 1
  .contents-panel

    &:hover
      z-index: 1

#footer
  position: absolute
  margin: 2rem 0 0 0
  right: 0
  height: 15rem
  width: 100vw
  font-family: Vanadine
  box-sizing: border-box
  text-align: right

  background-color: $panel-color

  #subscribe
    width: 35%
    float: left
    padding: 2.8rem 5%
    text-align: left
    p
      color: white
      padding-bottom: 1rem
    input
      size: 35
      font-family: garamond
    button
      background-color: #e62400
      color: white
      border-color: #e62400

  #signature
    display: inline-block
    width: 55%
    font-size: 1.2rem
    font-weight: 900
    margin: 0
    padding: 2.8rem 0
    color: white
    #credits, #license, #contact
      display: inline-block
      vertical-align: middle
      width: 30%
      margin: 0
      text-align: left
      li
        margin: 0.7rem

.logo-wrapper
  position: absolute
  z-index: 100

.audio-player
  min-width: 22.5rem
  width: 35vw
  margin-top: 1em
  text-align: left

  position: fixed
  right: 2vw
  z-index: 1
