//$max-width: 1400px
$min-width: 767px

$panel-color: #3f1ca2
$panel-inner-color: white
$button-color: #d31426

.font-steroids
  //font-style: normal !important
  //font-weight: normal !important
  -webkit-font-smoothing: antialiased
  text-rendering: optimizeLegibility
  -webkit-font-kerning: normal
  -moz-font-kerning: normal
  font-kerning: normal
  -moz-font-feature-settings: "kern=1"
  -moz-font-feature-settings: "kern" 1
  -moz-font-feature-settings: "kern" 1
  -ms-font-feature-settings: "kern" 1
  font-feature-settings: "kern" 1
