@media screen and (max-width: 1050px)
  #content-block, #nav-block
    width: 100vw

  #content-block
    height: auto

  #nav-block
    margin: 0
    z-index: 10

  .panel-outer
    width: 75vw
    max-width: 100vw
    margin-top: 6rem

  #current-panel
    display: block
    margin-top: 4rem
    right: 25vw


@media screen and (max-width: 770px)
  #content-block, #nav-block
    width: 100vw

  #content-block
    height: auto
    text-align: center

  #nav-block
    margin: 0
    z-index: 10

  .panel-outer
    width: 100vw
    max-width: 100vw

  #current-panel
    display: inline-block
    position: relative
    right: auto
