@import "./lib/burger"

@media screen and (max-width: 1080px)
  .logo-wrapper
    display: none
  // Fit wrappers to the whole screen
  #content-block, #nav-block
    width: 100vw
    min-width: 0
    min-height: 0
    margin: 0
    top: 0

  #nav-block
    z-index: 100
    width: 100vw
    height: 4rem
    text-align: center
    #navlink-wrapper
      display: none
    &.invert-colours
      background-color: white

  .menu-button
    display: inline-block
    padding: 0.9rem
    background-color: inherit
  .burger-icon
    @include burger(40px, 3px, 12px, white)
  .menu-button.is-active .burger-icon
    @include burger-to-cross($panel-color)

  #mobileMenu.display
    display: block
    position: fixed
    z-index: 1
    top: 4rem
    width: 100vw
    height: calc(110vh - 3rem)
    text-align: center
    background-color: $panel-color
    box-sizing: border-box
    border-left: 1rem solid white
    border-right: 1rem solid white
    overflow-y: auto
    .mobile-link-list
      margin: 0
      .mobile-link
        margin: 3.5rem 0
        color: white
        font-size: 2rem
        font-family: Vanadine
        a
          text-decoration: none

  .panel-outer, .issue-panel-outer
    display: inline-block
    width: 100vw
    min-width: 0
    margin: 0
    z-index: 1

    &:hover
      z-index: 1

    .panel-heading
      margin: 1rem 0

  // Use flex to order elements appropriately
  #content-block
    display: flex
    flex-direction: column
    margin-top: 4rem
    min-height: calc(100vh - 2rem)

    #large-logo-panel
      border-left: 1rem solid $panel-color
      border-right: 1rem solid $panel-color
      z-index: 0
      text-align: center
      .sponge
        width: 80%
        max-width: 25rem

    #current-panel
      order: 4
      background-color: $panel-color
      text-align: center
      #current-cover
        width: calc(100% - 2rem)
        display: inline-block
        margin: auto 1rem 1rem 1rem

    #about-panel
      order: 2

    .cover-panel
      // don't show cover in single issue view when on mobile
      display: none

    // The purple outer panel shouldn't extend past the top of the inner
    // for some panels (those without headings), so as to not meld with
    // the fixed nav-block and look bad when scrolling.
    .contents-panel
      .panel-inner, .issue-panel-inner
        margin-top: 0

    #story-panel
      order: 3
      .panel-heading
        font-size: 2rem
      .story-paragraph
        margin: 0 1rem

    #contents-actions-container
      position: relative
      left: 0
      right: 0
      order: 5
      display: flex
      flex-direction: column
      text-align: center
      margin: 0

      .contents-item
        padding: 0.5rem 0


    // Override specific panel widths
    #guidelines-panel, #story-panel, #contents-actions-container
      width: 100%
      max-width: 100%

  #audio-player
    width: 100%
    position: relative
    text-align: center
    margin-top: 1rem


  #footer
    order: 10
    text-align: center
    height: auto
    width: 100vw
    #signature, #subscribe
      min-width: none
      float: none
      display: inline-block
      padding: 3rem
      #credits, #license, #contact
        display: block
        width: auto
        margin: 2rem 0
    #signature
      input
        width: auto
        min-width: none
    #subscribe
      width: auto
      form
        text-align: center
        #id_email
          min-width: none
          width: 50%
