// Phone
@media screen and (max-width: 1080px)
  // Fit wrappers to the whole screen
  #content-block, #nav-block
    width: 100vw
    margin: 0
    top: 0

  #nav-block
    z-index: 5
    #navlink-wrapper
      width: 100vw
      right: 0
      left: 0
      text-align: center

  .panel-outer
    display: inline-block
    width: 100vw
    margin: 0
    z-index: 0

    &:hover
      z-index: 0

  // Use flex to order elements appropriately
  .panel-content
    font-size: 1.7rem
  #content-block
    display: flex
    flex-direction: column

    #logo-panel
      order: 1
      background-color: $panel-color
      text-align: center
      margin-top: 5rem

    #current-panel
      order: 2
      background-color: $panel-color
      text-align: center
      #current-cover
        width: calc(100% - 2rem)
        display: inline-block
        margin: auto 1rem 1rem 1rem

    #about-panel
      order: 4

    .cover-panel
      // don't show cover in single issue view when on mobile
      display: none

    .story-panel
      order: 3
      margin-top: 9rem
      font-size: 1.6rem
      .panel-heading
        font-size: 2rem

    #contents-actions-container
      position: relative
      width: 100vw
      left: 0
      right: 0
      order: 5
      display: flex
      flex-direction: column
      text-align: center

      .contents-item
        padding: 0.5rem 0

      .download
        width: calc(100vw - 2rem)
        margin: 0 1rem 1rem 1rem

    #footer
      order: 10
