
html, body {
  font-size: 16px;
  background: #b693ff;
}

body {
  //font-family: 'myriad-pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  //font-family: Trebuchet MS,Lucida Grande,Lucida Sans Unicode,Lucida Sans,Tahoma,sans-serif;
  font-family: Gill Sans, Gill Sans MT, Calibri, sans-serif;
  @extend .font-steroids
}

.nodrag {
  -moz-user-select: none; /* These user-select properties are inheritable, used to prevent text selection */
  -webkit-user-select: none;
  -ms-user-select: none; /* From IE10 only */
  user-select: none; /* Not valid CSS yet, as of July 2012 */

  -webkit-user-drag: none; /* Prevents dragging of images/divs etc */
  user-drag: none;
}

img {
  width: 100%;
  height: auto;

  @extend .nodrag;
}

h2 {
  font-size: 1rem;
}
