{% extends "./admin/base_site.html" %}

{% block content %}
    <div id="publish-view-container">
        <h2>Confirm Publication</h2>
        {% if incomplete_submitters or length > 0 %}
            <h2>These submitters are missing info, can't be converted to authors:</h2>
            {% for submitter in incomplete_submitters %}
                <ul id="incomplete-submitter-list">
                    <li class="incomplete-submitter-row">
                        {{ submitter }} [<a href="{{ submitter.admin_url }}">view admin</a>]
                    </li>
                </ul>
            {% endfor %}
        {% else %}
            <h3>The following submissions will be published:</h3>

            <ul id="submissions-list">
                {% for submission in submissions_to_publish %}
                    <li
                        class="submission-row"
                    ><span
                        class="submission-title"
                    >{{ submission.title }}</span> --- <span
                        class="submission-author"
                    >{{ submission.author }}</span></li>
                {% endfor %}
            </ul>
            <form method="post">
                {% csrf_token %}
                <input type="submit" value="Confirm"/>
            </form>
        {% endif %}
    </div>
{% endblock %}
