{% extends "django/base.html" %}

{% block header %}
    <header id="header">
        <h1 id="nav-heading">Scifi Journal</h1>
        <ul id="navlink-list">
            <li class="navlink-item">
                <a href="{{ url('landing_page') }}">Current</a>
            </li>
            <li class="navlink-item">
                <a href="{{ url('submissions') }}">Submissions</a>
            </li>
            <li class="navlink-item">
                <a href="{{ url('all_issues') }}">Archive</a>
            </li>
            <li class="navlink-item">
                <a href="{{ url('about') }}">About</a>
            </li>
        </ul>
    </header>
{% endblock %}
