{% extends "nav.html" %}

{% block title %}Sponge - Subscription{% endblock %}

{% block content %}

  <div class="panel-outer">
    <div class="panel-heading">Thanks</div>
    <div class="panel-inner">
        <div class="panel-content">
           {% if type == 'subscribe' %}
                <p>Thanks for subscribing to Sponge.</p>
                <p>We will keep you informed of our submission openings, deadlines, and when our issues are published.</p>
                <p>Please contact <a style="text-decoration:underline" href="mailto:editor@sponge.nz">editor@sponge.nz</a> for any other questions.</p>
                <p>Visit <a style="text-decoration:underline" href="{{ url('unsubscribe') }}">sponge.nz/unsubscribe</a> to unsubscribe.</p>
            {% else %}
                <p>You have been unsubscribed from Sponge.</p>
                <p>Thank you for your interest in our journal.</p>
                <p>If you have any questions or suggestions please contact
                <a style="text-decoration:underline" href="mailto:editor@sponge.nz">editor@sponge.nz</a>
            </p>
            {% endif %}
        </div>
    </div>
  </div>



{% endblock %}
