{% extends "nav.html" %}

{% block content %}

  <div class="panel-outer">
    <div class="panel-heading">Thanks</div>
    <div class="panel-inner">
        <div class="panel-content">
            <p>Thanks for subscribing to Sponge.</p>
            <p>We will keep you informed of our submission openings, deadlines, and when our issues are published.</p>
            <p>Please contact <a style="text-decoration:underline" href="mailto:editor@sponge.nz">editor@sponge.nz</a> for any other questions.</p>
            <p>Visit <a style="text-decoration:underline" href="http://sponge.nz/unsubscribe">sponge.nz/unsubscribe</a> to unsubscribe.</p>
        </div>
    </div>
  </div>

 

{% endblock %}
